In [1]:
from datascience import *
import numpy as np

In [2]:
nba = Table.read_table('nba_salaries.csv')

In [13]:
planets = make_array("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune")

In [8]:
planets

In [20]:
planet_table = Table()

In [21]:
planet_table

In [22]:
type(planet_table)

datascience.tables.Table

In [23]:
planet_table.with_column('Planet Name', planets)

Planet Name
Mercury
Venus
Earth
Mars
Jupiter
Saturn
Uranus
Neptune

In [24]:
planet_table

In [25]:
planet_table = planet_table.with_column('Planet Name', planets)

In [17]:
planet_table

Planet Name
Mercury
Venus
Earth
Mars
Jupiter
Saturn
Uranus
Neptune

In [26]:
planet_table = planet_table.with_column('Planet Position', np.arange(1, 9))

In [27]:
planet_table

Planet Name | Planet Position
Mercury     | 1
Venus       | 2
Earth       | 3
Mars        | 4
Jupiter     | 5
Saturn      | 6
Uranus      | 7
Neptune     | 8