In [4]:
from datascience import *
import numpy as np

In [5]:
nba = Table.read_table('nba_salaries.csv').where("season", 2020).drop("season")

In [6]:
nba

rank | name              | position | team                  | salary
1    | Stephen Curry     | PG       | Golden State Warriors | 40231758
2    | Chris Paul        | PG       | Oklahoma City Thunder | 38506482
3    | Russell Westbrook | PG       | Houston Rockets       | 38506482
4    | John Wall         | PG       | Washington Wizards    | 38199000
5    | Kevin Durant      | SF       | Brooklyn Nets         | 38199000
6    | James Harden      | SG       | Houston Rockets       | 38199000
7    | LeBron James      | SF       | Los Angeles Lakers    | 37436858
8    | Kyle Lowry        | PG       | Toronto Raptors       | 34996296
9    | Blake Griffin     | PF       | Detroit Pistons       | 34449964
10   | Tobias Harris     | SF       | Philadelphia 76ers    | 32742000
... (518 rows omitted)

In [7]:
nba.num_rows

528

In [8]:
nba.num_columns

5

In [9]:
nba.labels

('rank', 'name', 'position', 'team', 'salary')

In [10]:
nba.relabeled('salary', '$')

rank | name              | position | team                  | $
1    | Stephen Curry     | PG       | Golden State Warriors | 40231758
2    | Chris Paul        | PG       | Oklahoma City Thunder | 38506482
3    | Russell Westbrook | PG       | Houston Rockets       | 38506482
4    | John Wall         | PG       | Washington Wizards    | 38199000
5    | Kevin Durant      | SF       | Brooklyn Nets         | 38199000
6    | James Harden      | SG       | Houston Rockets       | 38199000
7    | LeBron James      | SF       | Los Angeles Lakers    | 37436858
8    | Kyle Lowry        | PG       | Toronto Raptors       | 34996296
9    | Blake Griffin     | PF       | Detroit Pistons       | 34449964
10   | Tobias Harris     | SF       | Philadelphia 76ers    | 32742000
... (518 rows omitted)

In [11]:
nba

rank | name              | position | team                  | salary
1    | Stephen Curry     | PG       | Golden State Warriors | 40231758
2    | Chris Paul        | PG       | Oklahoma City Thunder | 38506482
3    | Russell Westbrook | PG       | Houston Rockets       | 38506482
4    | John Wall         | PG       | Washington Wizards    | 38199000
5    | Kevin Durant      | SF       | Brooklyn Nets         | 38199000
6    | James Harden      | SG       | Houston Rockets       | 38199000
7    | LeBron James      | SF       | Los Angeles Lakers    | 37436858
8    | Kyle Lowry        | PG       | Toronto Raptors       | 34996296
9    | Blake Griffin     | PF       | Detroit Pistons       | 34449964
10   | Tobias Harris     | SF       | Philadelphia 76ers    | 32742000
... (518 rows omitted)

In [12]:
nba = nba.relabeled('salary', '$')

In [13]:
nba

rank | name              | position | team                  | $
1    | Stephen Curry     | PG       | Golden State Warriors | 40231758
2    | Chris Paul        | PG       | Oklahoma City Thunder | 38506482
3    | Russell Westbrook | PG       | Houston Rockets       | 38506482
4    | John Wall         | PG       | Washington Wizards    | 38199000
5    | Kevin Durant      | SF       | Brooklyn Nets         | 38199000
6    | James Harden      | SG       | Houston Rockets       | 38199000
7    | LeBron James      | SF       | Los Angeles Lakers    | 37436858
8    | Kyle Lowry        | PG       | Toronto Raptors       | 34996296
9    | Blake Griffin     | PF       | Detroit Pistons       | 34449964
10   | Tobias Harris     | SF       | Philadelphia 76ers    | 32742000
... (518 rows omitted)

In [15]:
nba.show(5)

In [17]:
nba.take(2)

rank | name              | position | team            | $
3    | Russell Westbrook | PG       | Houston Rockets | 38506482

In [18]:
nba

rank | name              | position | team                  | $
1    | Stephen Curry     | PG       | Golden State Warriors | 40231758
2    | Chris Paul        | PG       | Oklahoma City Thunder | 38506482
3    | Russell Westbrook | PG       | Houston Rockets       | 38506482
4    | John Wall         | PG       | Washington Wizards    | 38199000
5    | Kevin Durant      | SF       | Brooklyn Nets         | 38199000
6    | James Harden      | SG       | Houston Rockets       | 38199000
7    | LeBron James      | SF       | Los Angeles Lakers    | 37436858
8    | Kyle Lowry        | PG       | Toronto Raptors       | 34996296
9    | Blake Griffin     | PF       | Detroit Pistons       | 34449964
10   | Tobias Harris     | SF       | Philadelphia 76ers    | 32742000
... (518 rows omitted)

In [19]:
nba.take(1, 4)

rank | name         | position | team                  | $
2    | Chris Paul   | PG       | Oklahoma City Thunder | 38506482
5    | Kevin Durant | SF       | Brooklyn Nets         | 38199000

In [20]:
nba.take(np.arange(100, 200))

rank | name             | position | team                | $
101  | Larry Nance Jr.  | PF       | Cleveland Cavaliers | 12727273
102  | Kelly Olynyk     | PF       | Miami Heat          | 12667885
103  | Marcus Smart     | PG       | Boston Celtics      | 12553571
104  | Miles Plumlee    | C        | Memphis Grizzlies   | 12500000
105  | Terrence Ross    | SG       | Orlando Magic       | 12500000
106  | Nikola Mirotic   | F        | Milwaukee Bucks     | 12500000
107  | Patty Mills      | PG       | San Antonio Spurs   | 12428571
108  | Tyreke Evans     | G        | Indiana Pacers      | 12400000
109  | Patrick Beverley | PG       | LA Clippers         | 12345680
110  | Trevor Ariza     | SF       | Sacramento Kings    | 12195122
... (90 rows omitted)

In [21]:
nba.num_rows

528

In [22]:
nba.take(np.arange(0, 528, 10))

rank | name             | position | team                   | $
1    | Stephen Curry    | PG       | Golden State Warriors  | 40231758
11   | Jimmy Butler     | SF       | Miami Heat             | 32742000
21   | Damian Lillard   | PG       | Portland Trail Blazers | 29802321
31   | D'Angelo Russell | SG       | Minnesota Timberwolves | 27285000
41   | Steven Adams     | C        | Oklahoma City Thunder  | 25842697
51   | Tim Hardaway Jr. | SG       | Dallas Mavericks       | 20025127
61   | Tristan Thompson | C        | Cleveland Cavaliers    | 18539130
71   | Timofey Mozgov   | C        | Orlando Magic          | 16720000
81   | James Johnson    | PF       | Minnesota Timberwolves | 15349400
91   | Marcin Gortat    | C        | LA Clippers            | 13565218
... (43 rows omitted)

In [23]:
nba

rank | name              | position | team                  | $
1    | Stephen Curry     | PG       | Golden State Warriors | 40231758
2    | Chris Paul        | PG       | Oklahoma City Thunder | 38506482
3    | Russell Westbrook | PG       | Houston Rockets       | 38506482
4    | John Wall         | PG       | Washington Wizards    | 38199000
5    | Kevin Durant      | SF       | Brooklyn Nets         | 38199000
6    | James Harden      | SG       | Houston Rockets       | 38199000
7    | LeBron James      | SF       | Los Angeles Lakers    | 37436858
8    | Kyle Lowry        | PG       | Toronto Raptors       | 34996296
9    | Blake Griffin     | PF       | Detroit Pistons       | 34449964
10   | Tobias Harris     | SF       | Philadelphia 76ers    | 32742000
... (518 rows omitted)

In [24]:
nba_sample = nba.take(np.arange(0, 528, 10))

In [25]:
nba_sample

rank | name             | position | team                   | $
1    | Stephen Curry    | PG       | Golden State Warriors  | 40231758
11   | Jimmy Butler     | SF       | Miami Heat             | 32742000
21   | Damian Lillard   | PG       | Portland Trail Blazers | 29802321
31   | D'Angelo Russell | SG       | Minnesota Timberwolves | 27285000
41   | Steven Adams     | C        | Oklahoma City Thunder  | 25842697
51   | Tim Hardaway Jr. | SG       | Dallas Mavericks       | 20025127
61   | Tristan Thompson | C        | Cleveland Cavaliers    | 18539130
71   | Timofey Mozgov   | C        | Orlando Magic          | 16720000
81   | James Johnson    | PF       | Minnesota Timberwolves | 15349400
91   | Marcin Gortat    | C        | LA Clippers            | 13565218
... (43 rows omitted)

In [27]:
nba.select('$')

$
40231758
38506482
38506482
38199000
38199000
38199000
37436858
34996296
34449964
32742000
... (518 rows omitted)

In [28]:
nba.select(4)

$
40231758
38506482
38506482
38199000
38199000
38199000
37436858
34996296
34449964
32742000
... (518 rows omitted)

In [29]:
nba.column('$')

array([40231758, 38506482, 38506482, 38199000, 38199000, 38199000,
       37436858, 34996296, 34449964, 32742000, 32742000, 32742000,
       32742000, 32742000, 32700690, 32511624, 31742000, 30603448,
       30560700, 30350000, 29802321, 28942830, 28000000, 28000000,
       27739975, 27556959, 27504630, 27504630, 27504630, 27285000,
       27285000, 27285000, 27285000, 27250575, 27093019, 27093019,
       27093018, 27093017, 26231111, 26000000, 25842697, 25842697,
       25595700, 25565217, 25102511, 24147727, 23271604, 23241573,
       22615559, 21000000, 20025127, 20000000, 19894737, 19863636,
       19500000, 19269662, 19217900, 19000000, 18606556, 18539130,
       18539130, 18500000, 18000000, 18000000, 17839286, 17650000,
       17185185, 17150000, 17000000, 17000000, 16720000, 16229213,
       16200000, 16000000, 15680000, 15643750, 15625000, 15625000,
       15500000, 15450051, 15349400, 15000000, 15000000, 14896552,
       14651700, 14634146, 14500000, 14471910, 14057730, 14041096,
       13565218, 13486300, 13437500, 13333333, 13125000, 13000000,
       12900000, 12776786, 12759670, 12758781, 12727273, 12667885,
       12553571, 12500000, 12500000, 12500000, 12428571, 12400000,
       12345680, 12195122, 12093023, 12000000, 11954546, 11692308,
       11392857, 11301219, 11286516, 11286516, 11011234, 10810000,
       10740740, 10605600, 10500000, 10259375, 10116576, 10116576,
       10000000, 10000000,  9881598,  9757440,  9745200,  9732396,
        9607500,  9600000,  9562920,  9473684,  9346153,  9346153,
        9258000,  9258000,  9133907,  9073050,  9000000,  8730240,
        8719320,  8664928,  8556120,  8529386,  8349039,  8333333,
        8156500,  8113930,  8089282,  8000000,  8000000,  8000000,
        8000000,  8000000,  7839960,  7830000,  7815533,  7683360,
        7666667,  7464912,  7461380,  7333333,  7333333,  7317073,
        7265485,  7250000,  7119650,  7068360,  7059480,  7000000,
        7000000,  7000000,  6927480,  6825000,  6534829,  6500000,
        6481482,  6400920,  6392760,  6300000,  6273000,  6134520,
        6000000,  6000000,  5846154,  5813640,  5806440,  5718000,
        5700000,  5697600,  5500000,  5455236,  5453280,  5450000,
        5348007,  5307120,  5300400,  5285394,  5201400,  5000000,
        5000000,  4996000,  4862040,  4861208,  4855800,  4807693,
        4767000,  4767000,  4767000,  4767000,  4767000,  4767000,
        4767000,  4767000,  4767000,  4767000,  4764960,  4469160,
        4464226,  4463640,  4444746,  4380120,  4320500,  4245720,
        4240200,  4161000,  4160000,  4102564,  4033440,  4028400,
        4000000,  4000000,  4000000,  4000000,  3952920,  3831840,
        3827160,  3755400,  3754886,  3640200,  3635760,  3623000,
        3581986,  3569643,  3567720,  3551000,  3540000,  3529555,
        3500000,  3500000,  3500000,  3500000,  3481986,  3481986,
        3458400,  3454080,  3389400,  3377569,  3321030,  3285120,
        3280920,  3219480,  3150000,  3058800,  3000000,  3000000,
        3000000,  2964840,  2961120,  2907143,  2905800,  2875000,
        2816760,  2813280,  2750000,  2731714,  2689920,  2689920,
        2686560,  2636280,  2625718,  2625000,  2603982,  2582160,
        2578800,  2564753,  2564753,  2564753,  2530680,  2505793,
        2500000,  2500000,  2478840,  2475840,  2445085,  2445085,
        2429400,  2379840,  2376840,  2351839,  2338847,  2332320,
        2329200,  2321735,  2305057,  2284800,  2281800,  2281800,
        2250000,  2222803,  2193480,  2177483,  2149560,  2147317,
        2105520,  2063520,  2054856,  2035800,  2033160,  2028594,
        2028594,  2000000,  2000000,  2000000,  1995120,  1977000,
        1974600,  1964760,  1962360,  1950600,  1948080,  1937520,
        1925880,  1911600,  1897800,  1882867,  1845301,  1845301,
        1795015,  1750000,  1737145,  1737145,  1723050,  1702486,
        1699236,  1698450,  1678854,  1678854,  1676735,  1656092,
        1656092,  1655160,  1645357,  1645357,  1645357,  1645357,
        1645357,  1620564,  1620564,  1620564,  1620564,  1620564,
        1620564,  1620564,  1620564,  1620564,  1620564,  1620564,
        1620564,  1620564,  1620564,  1620564,  1620564,  1620564,
        1620564,  1620564,  1620564,  1620564,  1620564,  1620564,
        1620564,  1620564,  1620564,  1620564,  1620564,  1620564,
        1620564,  1620564,  1618520,  1618520,  1618520,  1618520,
        1618520,  1618520,  1618520,  1618520,  1618420,  1600520,
        1599712,  1588231,  1588231,  1588231,  1588231,  1588231,
        1569360,  1544951,  1544951,  1544951,  1544951,  1544951,
        1529007,  1512601,  1512601,  1512601,  1512601,  1500000,
        1500000,  1500000,  1455697,  1445697,  1445697,  1445697,
        1445697,  1445697,  1419138,  1416852,  1416852,  1416852,
        1416852,  1416852,  1416852,  1416852,  1416852,  1416852,
        1416852,  1416852,  1416852,  1416852,  1416852,  1416852,
        1416852,  1416852,  1416852,  1416852,  1416852,  1416852,
        1416852,  1416852,  1416852,  1416842,  1416842,  1400000,
        1400000,  1378242,  1378242,  1378242,  1378242,  1378242,
        1378242,  1378242,  1378242,  1378242,  1364204,  1349464,
        1349383,  1349383,  1290960,  1228026,  1187862,  1173310,
        1052909,  1042584,  1000000,  1000000,   948580,   903111,
         898310,   898310,   898310,   898310,   898310,   898310,
         898310,   898310,   898310,   898310,   898310,   898310,
         898310,   898310,   898310,   898310,   898310,   898310,
         898310,   898310,   898310,   842327,   838464,   746054,
         654469,   654469,   604278,   595122,   578573,   563347,
         555409,   522738,   512721,   512721,   482144,   466918,
         439475,   384541,   375385,   350189,   350189,   350189,
         245686,   208509,   197933,   183115,   183115,   155647])

In [30]:
salaries = nba.column('$')

In [31]:
np.max(salaries)

40231758

In [32]:
np.min(salaries)

155647

In [33]:
np.average(salaries)

7286796.9147727275

In [34]:
np.sum(salaries)

3847428771

In [35]:
nba

rank | name              | position | team                  | $
1    | Stephen Curry     | PG       | Golden State Warriors | 40231758
2    | Chris Paul        | PG       | Oklahoma City Thunder | 38506482
3    | Russell Westbrook | PG       | Houston Rockets       | 38506482
4    | John Wall         | PG       | Washington Wizards    | 38199000
5    | Kevin Durant      | SF       | Brooklyn Nets         | 38199000
6    | James Harden      | SG       | Houston Rockets       | 38199000
7    | LeBron James      | SF       | Los Angeles Lakers    | 37436858
8    | Kyle Lowry        | PG       | Toronto Raptors       | 34996296
9    | Blake Griffin     | PF       | Detroit Pistons       | 34449964
10   | Tobias Harris     | SF       | Philadelphia 76ers    | 32742000
... (518 rows omitted)

In [39]:
warriors = nba.where('team', 'Golden State Warriors')

In [44]:
warriors

rank | name                | position | team                  | $
1    | Stephen Curry       | PG       | Golden State Warriors | 40231758
13   | Klay Thompson       | SG       | Golden State Warriors | 32742000
60   | Draymond Green      | PF       | Golden State Warriors | 18539130
223  | Kevon Looney        | PF       | Golden State Warriors | 4464226
316  | Willie Cauley-Stein | C        | Golden State Warriors | 2177483
332  | Jordan Poole        | SG       | Golden State Warriors | 1964760
339  | Omari Spellman      | PF       | Golden State Warriors | 1897800
496  | Alen Smailagic      | PF       | Golden State Warriors | 898310
497  | Eric Paschall       | PF       | Golden State Warriors | 898310
502  | Damion Lee          | SG       | Golden State Warriors | 842327
... (3 rows omitted)

In [54]:
lakers = nba.where('team', 'Los Angeles Lakers').take(np.arange(13))

In [55]:
lakers

rank | name                     | position | team               | $
7    | LeBron James             | SF       | Los Angeles Lakers | 37436858
37   | Anthony Davis            | PF       | Los Angeles Lakers | 27093018
75   | JR Smith                 | SG       | Los Angeles Lakers | 15680000
86   | Danny Green              | SG       | Los Angeles Lakers | 14634146
153  | Kentavious Caldwell-Pope | SG       | Los Angeles Lakers | 8089282
217  | Avery Bradley            | PG       | Los Angeles Lakers | 4767000
237  | JaVale McGee             | C        | Los Angeles Lakers | 4000000
254  | DeMarcus Cousins         | C        | Los Angeles Lakers | 3500000
270  | Quinn Cook               | PG       | Los Angeles Lakers | 3000000
279  | Alex Caruso              | SG       | Los Angeles Lakers | 2750000
... (3 rows omitted)

In [56]:
gsw_sal = warriors.column('$')
la_sal = lakers.column('$')

In [57]:
np.average(gsw_sal)

8154688.538461538

In [58]:
np.average(la_sal)

9787665.9230769239

In [52]:
warriors.num_rows

13

In [53]:
lakers.num_rows

18