In [36]:
from datascience import *

In [37]:
cones = Table.read_table('cones.csv')

In [38]:
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [39]:
cones.show()

In [40]:
cones.show(3)

In [41]:
cones.select("Flavor")

Flavor
strawberry
chocolate
chocolate
strawberry
chocolate
bubblegum

In [42]:
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [44]:
cones.select("Flavor", "Color")

Flavor     | Color
strawberry | pink
chocolate  | light brown
chocolate  | dark brown
strawberry | pink
chocolate  | dark brown
bubblegum  | pink

In [45]:
cones.select('flavor')

ValueError: The column "flavor" is not in the table. The table contains these columns: Flavor, Color, Price

In [46]:
cones.drop("Price")

Flavor     | Color
strawberry | pink
chocolate  | light brown
chocolate  | dark brown
strawberry | pink
chocolate  | dark brown
bubblegum  | pink

In [47]:
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [48]:
cones_without_price = cones.drop("Price")

In [49]:
cones_without_price

Flavor     | Color
strawberry | pink
chocolate  | light brown
chocolate  | dark brown
strawberry | pink
chocolate  | dark brown
bubblegum  | pink

In [50]:
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [51]:
cones = cones.drop("Price")

In [52]:
cones

Flavor     | Color
strawberry | pink
chocolate  | light brown
chocolate  | dark brown
strawberry | pink
chocolate  | dark brown
bubblegum  | pink

In [53]:
# From https://github.com/erikgregorywebb/datasets/blob/master/nba-salaries.csv
nba = Table.read_table('nba_salaries.csv')

In [54]:
nba

rank | name             | position | team                   | salary   | season
1    | Shaquille O'Neal | C        | Los Angeles Lakers     | 17142000 | 2000
2    | Kevin Garnett    | PF       | Minnesota Timberwolves | 16806000 | 2000
3    | Alonzo Mourning  | C        | Miami Heat             | 15004000 | 2000
4    | Juwan Howard     | PF       | Washington Wizards     | 15000000 | 2000
5    | Scottie Pippen   | SF       | Portland Trail Blazers | 14795000 | 2000
6    | Karl Malone      | PF       | Utah Jazz              | 14000000 | 2000
7    | Larry Johnson    | F        | New York Knicks        | 11910000 | 2000
8    | Gary Payton      | PG       | Seattle SuperSonics    | 11020000 | 2000
9    | Rasheed Wallace  | PF       | Portland Trail Blazers | 10800000 | 2000
10   | Shawn Kemp       | C        | Cleveland Cavaliers    | 10780000 | 2000
... (9446 rows omitted)

In [55]:
nba.where('position', 'PG')

rank | name             | position | team                   | salary   | season
8    | Gary Payton      | PG       | Seattle SuperSonics    | 11020000 | 2000
11   | Damon Stoudamire | PG       | Portland Trail Blazers | 10125000 | 2000
20   | Stephon Marbury  | PG       | New Jersey Nets        | 9000000  | 2000
24   | Nick Van Exel    | PG       | Denver Nuggets         | 8354000  | 2000
26   | Terrell Brandon  | PG       | Minnesota Timberwolves | 7400000  | 2000
34   | Jason Kidd       | PG       | Phoenix Suns           | 6858000  | 2000
35   | Kenny Anderson   | PG       | Boston Celtics         | 6680000  | 2000
39   | Steve Nash       | PG       | Dallas Mavericks       | 5500000  | 2000
55   | Charlie Ward     | PG       | New York Knicks        | 4540000  | 2000
61   | Darrel Armstrong | PG       | Orlando Magic          | 4125000  | 2000
... (1465 rows omitted)

In [56]:
point_guards = nba.where('position', 'PG')

In [57]:
point_guards

rank | name             | position | team                   | salary   | season
8    | Gary Payton      | PG       | Seattle SuperSonics    | 11020000 | 2000
11   | Damon Stoudamire | PG       | Portland Trail Blazers | 10125000 | 2000
20   | Stephon Marbury  | PG       | New Jersey Nets        | 9000000  | 2000
24   | Nick Van Exel    | PG       | Denver Nuggets         | 8354000  | 2000
26   | Terrell Brandon  | PG       | Minnesota Timberwolves | 7400000  | 2000
34   | Jason Kidd       | PG       | Phoenix Suns           | 6858000  | 2000
35   | Kenny Anderson   | PG       | Boston Celtics         | 6680000  | 2000
39   | Steve Nash       | PG       | Dallas Mavericks       | 5500000  | 2000
55   | Charlie Ward     | PG       | New York Knicks        | 4540000  | 2000
61   | Darrel Armstrong | PG       | Orlando Magic          | 4125000  | 2000
... (1465 rows omitted)

In [58]:
point_guards_2020 = point_guards.where('season', 2020)

In [59]:
point_guards_2020

rank | name              | position | team                   | salary   | season
1    | Stephen Curry     | PG       | Golden State Warriors  | 40231758 | 2020
2    | Chris Paul        | PG       | Oklahoma City Thunder  | 38506482 | 2020
3    | Russell Westbrook | PG       | Houston Rockets        | 38506482 | 2020
4    | John Wall         | PG       | Washington Wizards     | 38199000 | 2020
8    | Kyle Lowry        | PG       | Toronto Raptors        | 34996296 | 2020
14   | Kemba Walker      | PG       | Boston Celtics         | 32742000 | 2020
16   | Mike Conley       | PG       | Utah Jazz              | 32511624 | 2020
17   | Kyrie Irving      | PG       | Brooklyn Nets          | 31742000 | 2020
21   | Damian Lillard    | PG       | Portland Trail Blazers | 29802321 | 2020
52   | Malcolm Brogdon   | PG       | Indiana Pacers         | 20000000 | 2020
... (72 rows omitted)

In [60]:
point_guards_2020.sort('salary')

rank | name            | position | team                  | salary  | season
522  | Ky Bowman       | PG       | Golden State Warriors | 350189  | 2020
513  | Reggie Jackson  | PG       | LA Clippers           | 512721  | 2020
512  | Brandon Goodwin | PG       | Atlanta Hawks         | 522738  | 2020
510  | Chris Clemons   | PG       | Houston Rockets       | 563347  | 2020
486  | Justin Robinson | PG       | Washington Wizards    | 898310  | 2020
490  | Jalen Lecque    | PG       | Phoenix Suns          | 898310  | 2020
475  | Gary Payton II  | PG       | Washington Wizards    | 1052909 | 2020
472  | Carsen Edwards  | PG       | Boston Celtics        | 1228026 | 2020
430  | Devonte' Graham | PG       | Charlotte Hornets     | 1416852 | 2020
438  | Jevon Carter    | PG       | Phoenix Suns          | 1416852 | 2020
... (72 rows omitted)

In [62]:
point_guards_2020.sort("team", descending=False)

rank | name              | position | team              | salary   | season
185  | Trae Young        | PG       | Atlanta Hawks     | 6273000  | 2020
512  | Brandon Goodwin   | PG       | Atlanta Hawks     | 522738   | 2020
14   | Kemba Walker      | PG       | Boston Celtics    | 32742000 | 2020
103  | Marcus Smart      | PG       | Boston Celtics    | 12553571 | 2020
428  | Brad Wanamaker    | PG       | Boston Celtics    | 1445697  | 2020
472  | Carsen Edwards    | PG       | Boston Celtics    | 1228026  | 2020
17   | Kyrie Irving      | PG       | Brooklyn Nets     | 31742000 | 2020
122  | Spencer Dinwiddie | PG       | Brooklyn Nets     | 10605600 | 2020
53   | Terry Rozier      | PG       | Charlotte Hornets | 19894737 | 2020
430  | Devonte' Graham   | PG       | Charlotte Hornets | 1416852  | 2020
... (72 rows omitted)

In [63]:
point_guards_2020.sort("team", descending=True)

rank | name            | position | team               | salary   | season
4    | John Wall       | PG       | Washington Wizards | 38199000 | 2020
187  | Ish Smith       | PG       | Washington Wizards | 6000000  | 2020
341  | Shabazz Napier  | PG       | Washington Wizards | 1845301  | 2020
377  | Isaiah Thomas   | PG       | Washington Wizards | 1620564  | 2020
475  | Gary Payton II  | PG       | Washington Wizards | 1052909  | 2020
486  | Justin Robinson | PG       | Washington Wizards | 898310   | 2020
16   | Mike Conley     | PG       | Utah Jazz          | 32511624 | 2020
93   | Jordan Clarkson | PG       | Utah Jazz          | 13437500 | 2020
134  | Dante Exum      | PG       | Utah Jazz          | 9600000  | 2020
363  | Emmanuel Mudiay | PG       | Utah Jazz          | 1620564  | 2020
... (72 rows omitted)

In [64]:
point_guards_2020.sort("team", descending=True).show(5)

In [66]:
point_guards_2019 = nba.where('position', 'PG').where('season', 2019)

In [67]:
point_guards_2019

rank | name              | position | team                   | salary   | season
1    | Stephen Curry     | PG       | Golden State Warriors  | 37457154 | 2019
2    | Chris Paul        | PG       | Houston Rockets        | 35654150 | 2019
4    | Russell Westbrook | PG       | Oklahoma City Thunder  | 35654150 | 2019
7    | Kyle Lowry        | PG       | Toronto Raptors        | 31200000 | 2019
9    | Mike Conley       | PG       | Memphis Grizzlies      | 30521115 | 2019
14   | Damian Lillard    | PG       | Portland Trail Blazers | 27977689 | 2019
43   | Kyrie Irving      | PG       | Boston Celtics         | 20099189 | 2019
45   | Zach LaVine       | PG       | Chicago Bulls          | 19500000 | 2019
48   | John Wall         | PG       | Washington Wizards     | 19169800 | 2019
49   | George Hill       | PG       | Milwaukee Bucks        | 19000000 | 2019
... (65 rows omitted)